<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBQmF-9I4oUSY26VhKRT7gmxz3jjnkb6sM</string>
	<key>GCM_SENDER_ID</key>
	<string>828994179758</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.stridexStore</string>
	<key>PROJECT_ID</key>
	<string>shopnike-3990c</string>
	<key>STORAGE_BUCKET</key>
	<string>shopnike-3990c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:828994179758:ios:c8701e08a768114200933f</string>
</dict>
</plist>