<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>80335677485-0l5nr98peaq0t7hek3t3bchpjdhsus0c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.80335677485-0l5nr98peaq0t7hek3t3bchpjdhsus0c</string>
	<key>API_KEY</key>
	<string>AIzaSyBmfibpocYLBH3MLuV-eX5c7shNKCupkms</string>
	<key>GCM_SENDER_ID</key>
	<string>80335677485</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.geminiAi</string>
	<key>PROJECT_ID</key>
	<string>appgemini-c16ea</string>
	<key>STORAGE_BUCKET</key>
	<string>appgemini-c16ea.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:80335677485:ios:292dd39aad0dbebb43f0a4</string>
	<key>DATABASE_URL</key>
	<string>https://appgemini-c16ea-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>